[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Colossal Cave Adventure
Comment=The original text based adventure
Exec=advent
Icon=utilities-terminal
Terminal=true
Type=Application
StartupNotify=true
Categories=Game;
